@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* colors */
	--primary-color: #0d0630;
	--seccondary-color: #d0ccd0;
	--accent-color: #f25c54;
	--hover-accent-color: #f17d77;
	--gray-color: #605856;
	--white-color: #fbfcff;

	/* font-size */
	--body: 12px;
	--title: 18px;
	--sub-title: 15px;
	--header: 22px;

	/* border raduis */
	--light-radius: 3px;

	/* transition */
	--transition: all 200ms ease-in-out;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--gray-color);
	font-size: 16px;
	font-weight: 400;
}

h1 {
	font-size: var(--header);
	text-transform: capitalize;
}

h2 {
	font-size: var(--title);
	text-transform: capitalize;
}

h3 {
	font-size: var(--sub-title);
	text-transform: capitalize;
}

p,
a {
	font-size: var(--body);
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

button {
	border: 0;
	border-radius: var(--light-radius);
	background-color: var(--accent-color);
	color: var(--white-color);
	cursor: pointer;
	transition: var(--transition);
}

button:hover {
	background-color: var(--hover-accent-color);
}
